body {
    background-color: hsl(0, 0%, 21%);
    height: 100vh;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    margin-top: 3rem;
}

/* Form style */
input {
    margin-top: 2rem;
}

datalist { 
    position: absolute;
  }

#search-btn {
    margin-top: 1rem;
}

.news {
    min-height: 6rem;
}

#current-country-flag{
    width: 400px;
}

.news {
    margin-bottom: 1.5rem !important;
}

.box {
    width: 69rem;
    margin-left: auto;
    margin-right: auto;
}

.search-section {
    width: 46rem;
    margin-left: auto;
    margin-right: auto;

}

.search-column {
    padding-top: 0;
    padding-bottom: 0;
}

/* Media queries */

@media screen and (max-width:800px) {    
    main {
        padding-top: 0 !important;
    }
    
    .logo {
        margin-top: 0;
    }

    .box {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .search-section {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width:801px) and (max-width:1250px) {
    main {
        padding-top: 0 !important;
    }
    .logo {
        margin-top: 1rem;
    }       

    .box {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .search-section {
        width: 46rem;
        margin-left: auto;
        margin-right: auto;
    }
}