:root {
    --bulma-primary:#00d1b2;
}

body {
    background-color: hsl(0, 0%, 21%);
    height: 100vh;
}

h2 {
    padding-top: .75rem;
    padding-bottom: .25rem;
}
  
/* logo style */
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    margin-top: 3rem;
}

#main-info-container {
    padding-top: 0;
    padding-bottom: 0;
    border: 1px solid var(--bulma-primary);
    background: linear-gradient(to bottom, white, grey);
}

#main-info-container .columns {
    display: flex;
}

#main-info-container .columns .box.news {
    flex: 1 0 30%;
}

/* Form style */
input {
    margin-top: 2rem;
}

/* dropdown style */
datalist { 
    position: absolute;
}

html, body {
    overflow-x: hidden;
}

/* serch button */
#search-btn {
    margin-top: 1rem;
}

/* news cards */
.news {
    min-height: 6rem;
}
  
.news {
    margin-bottom: 1rem !important;
    margin-left: .5rem !important;
    margin-right: .5rem !important;
    /* background: rgb(200,200,200);
    background: radial-gradient(circle, rgba(200,200,200,1) 0%, rgba(133,133,133,1) 100%); */
    position: relative;
}
  
/* main data display div */
.box {
    width: 75rem;
    margin-left: auto;
    margin-right: auto;
}
  
.search-section {
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
}
  
.search-column {
    padding-top: 0;
    padding-bottom: 0;
    height: auto;
    width: auto;
}


.column {
    flex: 1;
    padding: 0.5rem;
}
  
/* flag */
#country-flag {
    width: 136px;
    transform: translate(4px, -19.5px);
    align-self: flex-start;
}

#data-display {
    display: flex;
    align-items: flex-start;
    /* align-items: center; */
    justify-content: space-between;
    text-align: center;
}

/* flag column */
.flag-div {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Shrink the font size to fit the container when it becomes too small */
.country-info {
    flex-shrink: 1;
}

/* country description column */
.desc-div {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-left: 0.5rem;
    flex-shrink: 1;
    overflow: hidden;
    font-size: clamp(11px, 2.3vw, 1rem);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.desc-div p {
    margin-right: 20px;
}

  
a.news {
    border: 1px solid black;
    font-family: 'Droid Serif', serif;
    text-shadow: white 0px 0px 5px;
    background: radial-gradient(circle, white 30%, rgb(177, 176, 176) 100%);
    font-size: 18px;
}

a.news:hover {
    box-shadow: 2px 2px 15px grey;
    transform: scale(1.08);
    border: 1px solid var(--bulma-primary);
    transition: all .5s;
}

a.news:hover::before {
    border: 1px solid black;
    transition: all .5s;
}

#clear-icon {
    margin-right: 29px;
    transform: translate(-2px, 1px);
}

span #clear-history {
    transform: translate(0, -30px);
}


.country-info {
    color: white ;
    text-shadow: 0px 0px 3px black;
}

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

.news-title {
    position: relative;
}

.news-title::after {
    content: "_";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    white-space: nowrap;
}

.flag-placeholder {
    width: 33px;
    height: 32px;
}

  
.modal {
    max-width: 100%;
    width: auto;
}
  
.modal-content {
    overflow-x: hidden;
    width: auto;
}

#modal-text{
    text-align:center;
}

.news-img {
    border-radius: 5px;
    border: 1px solid black; 
    width: 95%;
    height: 200px;
    margin: 10px;
    object-fit: cover;
}

.news-img:hover {
    border: 1px solid var(--bulma-primary);
    transition: all .5s;
}

.news-author {
    margin-top: 20px;
    margin-left: auto;
    font-size: 1rem;
    overflow: hidden;         
    text-overflow: ellipsis;  
    padding: 6px;
    text-align: end;
}

.news {
    min-height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
}

.news-desc {
    text-align: left;
    margin-left: 6px;
    margin-right: 6px;
    width: 95%;
    height: 110px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Change this number to the desired number of lines to show */
    -webkit-box-orient: vertical;
    padding-top: 0;
}

/* Modified from code courtesy of Dalis Chan, Medium.com */
.sidebar {
    height: 100%;
    width: 85px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    transition: 0.5s;
    overflow-x: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    white-space: nowrap;
}
  
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1rem;
    color: #818181;
    display: flex;
    align-items: center;
}

.sidebar a span.button-text {
    display: inline-flex;
    align-items: center;
}
  
.sidebar a:hover {
    color: #f1f1f1;
    background-color: #1f1e1e;
}


main .sidebar {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#mySidebar img {
    margin-right: 21px;
    transform: translate(-5px, 0);
    width: 32px;
}

#main {
    /* padding: 16px; */
    margin-left: 85px;
    transition: margin-left 0.5s;
}

.margin-correction {
    transform: translateX(-50px);
}
/* Media queries */
@media (max-width:450px){
    .news-img{
        height: auto;
        width: auto;
    }
}

@media (max-width: 870px) {
    header {
        padding-top: 2rem !important;
    }

    main {
        padding-top: 0 !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .columns {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
    }
    
    .column {
        flex: 1;
        padding: 0.5rem;
    }

    .news {
        margin-bottom: 1rem !important;
        margin-left: .5rem !important;
        margin-right: .5rem !important;
        width: 97% !important;
    }

    .desc-div{
        flex-direction: column;
    }

    .logo {
        margin-top: 0;
    }

    .box {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .search-section {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .search-column {
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .info {
        height: fit-content;
    }

    #data-display {
        flex-direction: column;
    }
    
    /* Set the flex direction to vertical for the .news-container divs */
    .columns.is-multiline .box.news {
        flex: 1 0 100%;
        flex-direction: column;
    }
    
    .news-container {
        height: auto;
        width: 100%;
    }

    .news-author {
        margin-top: 20px;
        margin-left: auto;
        font-size: 1rem;
        overflow: hidden;         
        text-overflow: ellipsis;
        padding: 6px;
        text-align: end;
    }
}

@media (min-width:871px) and (max-width:951px) {
    header {
        padding-top: 2rem !important;
    }

    main {
        padding-top: 0 !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .logo {
        margin-top: 0 !important;
    }

    .box {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .search-section {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    #data-display {
        flex-direction: column;
    }
    
    .news-container {
        height: auto;
        width: auto;
    }

    .news-author {
        margin-top: 20px;
        margin-left: auto;
        font-size: 1rem;
        overflow: hidden;         
        text-overflow: ellipsis;
        padding: 6px;
        text-align: end;
    }
}

@media (min-width:952px) and (max-width:1320px) {
    main {
        padding-top: 0 !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    
    .logo {
        margin-top: 1rem;
    }       
    
    .box {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .search-section {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .search-column {
        height: auto;
        width: auto;
    }
   
}