:root {
    --bulma-primary:#00d1b2;
}

html, body {
    overflow-x: hidden;
}
  
body {
    background-color: hsl(0, 0%, 21%);
    height: 100vh;
}
  
/* Form style */
input {
    margin-top: 2rem;
}
  
/* dropdown style */
datalist { 
    position: absolute;
}

/* logo style */
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    margin-top: 3rem;
}
 
#main-info-container {
    padding-bottom: 0 !important;
    background: linear-gradient(to bottom, lightgrey, grey);
}

#main-info-container .columns {
    display: flex;
}

.news-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.news-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
  
/* serch button */
#search-btn {
    margin-top: 1rem;
}

/* news cards */
.news {
    min-height: 6rem;
    margin-bottom: 1rem !important;
    margin-left: .5rem !important;
    margin-right: .5rem !important;
    /* background: rgb(200,200,200);
    background: radial-gradient(circle, rgba(200,200,200,1) 0%, rgba(133,133,133,1) 100%); */
}
  
/* main data display div */
.box {
    width: 75rem;
    margin-left: auto;
    margin-right: auto;
}
  
.search-section {
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
}
  
.search-column {
    padding-top: 0;
    padding-bottom: 0;
}

.column {
    flex: 1;
    padding: 0.5rem;
}
  
/* flag */
#country-flag {
    width: 136px;
    transform: translate(-6px, -19.5px);
    align-self: flex-start;
}

#data-display.columns {
    height: 150px;
    display: flex;
    align-items: flex-start;
}

#data-display {
    display: flex;
    align-items: flex-start;
}

/* flag column */
.flag-div {
    display: flex;
    flex: 0 0 auto;
    flex-shrink: 1;
    /* align-items: flex-start;
    overflow: hidden; */
}

/* Shrink the font size to fit the container when it becomes too small */
.country-info {
    flex-shrink: 1;
}

/* country description column */
.desc-div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin-left: 0.5rem; */
    flex-shrink: 1;
    /* overflow: hidden; */
    font-size: clamp(11px, 2.3vw, 1rem);
    padding-bottom: 2rem;
}

a.news {
    border: 1px solid black;
}

a.news:hover {
    box-shadow: 2px 2px 15px grey;
    transform: scale(1.08);
    border: 1px solid var(--bulma-primary);
    transition: all .5s;
}

a.news:hover::before {
    border: 1px solid black;
    transition: all .5s;
}
/* x icon in sidebar */
#clear-icon {
    margin-right: 24px;
    transform: translate(-2px, 0px);
}

.country-info {
    color: white !important;
    text-shadow: 0px 0px 3px black !important;
}

.hidden {
    display: none !important;
}

.flag-placeholder {
    width: 33px;
    height: 32px;
}

.modal {
    max-width: 100%;
    width: auto;
}
  
.modal-content {
    overflow-x: hidden;
    width: auto;
}

#modal-text{
    text-align:center;
}

/* Modified from code courtesy of Dalis Chan, Medium.com */
.sidebar {
    height: 100%;
    width: 85px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    transition: 0.5s;
    overflow-x: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    white-space: nowrap;
}
  
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1rem;
    color: #818181;
    display: block;
  }

/* Target just the text inside .sidebar a */
.sidebar a span {
    display: inline-block;
    transform: translate(0, -7px);
  }

.sidebar a:hover {
    color: #f1f1f1;
    background-color: #1f1e1e;
}

main .sidebar {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#mySidebar img {
    margin-right: 20px;
    transform: translate(-6px, 2px);
}
  
#main {
    /* padding: 16px; */
    margin-left: 85px;
    transition: margin-left 0.5s;
}

.margin-correction {
    transform: translateX(-50px);
}

/* Media queries */
@media screen and (max-width:870px) {
    header {
        padding-top: 2rem !important;
    }

    main {
        padding-top: 0 !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .columns {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
    }
    
    .column {
        flex: 1;
        padding: 0.5rem;
    }

    .news {
        margin-bottom: 1rem !important;
        margin-left: .5rem !important;
        margin-right: .5rem !important;
        width: 97% !important;
    }

    .logo {
        margin-top: 0;
    }

    .box {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .search-section {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .columns.is-multiline .box.news {
        flex: 1 0 100%;
    }

    .search-column {
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .info {
        height: fit-content;
    }

    .news-img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}

@media (min-width:871px) and (max-width:951px) {
    header {
        padding-top: 2rem !important;
    }

    main {
        padding-top: 0 !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .logo {
        margin-top: 0 !important;
    }

    .box {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .search-section {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width:952px) and (max-width:1320px) {
    main {
        padding-top: 0 !important;
        
    }
    .logo {
        margin-top: 1rem;
    }       

    .box {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .search-section {
        width: 50rem;
        margin-left: auto;
        margin-right: auto;
    }
}